body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}


.MuiTypography-root {
  font-family: 'Inter', sans-serif !important;
}


.skillbar{
  background: #cdcdcd !important ;
}

.skillbar-title {
 z-index: 2;
 width: 150px;
}

/* @media screen and (max-width: 900px) {
   .skillbar{
    height: 30px !important;
   } 
} */