body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}


.MuiTypography-root {
  font-family: 'Inter', sans-serif !important;
}


.skillbar{
  background: #cdcdcd !important ;
}